html {
    margin: 0;
    padding: 0%;
}
body {
    margin: 0;
    padding: 0;
    background-color: none;
}
.header {
    margin: 0;
    padding: 0;
    background-color: #ccc;
    box-shadow: 0px 0px 100px 0px #aaa9a9;
    height: auto;
    width: 100%;
}
.header .up-part-of-page {
    width: auto;
    height: auto;
    background-color: white;
    align-items: center;
    align-content: center;
}
.header .up-part-of-page > .nav {
    color: #001;
    background-color: #d6d6d6;

}

.header .up-part-of-page > .nav > .Cart-btn > .li {
    padding: 20px;
}
.header .up-part-of-page > .nav > .ul {
    padding: 20px;
    
}
.header .up-part-of-page > .nav > .ul > .li {
    display: inline-block;
    cursor: pointer;
    padding: 20px;
    margin: 30px;
    font-family: 'La Belle Aurore', cursive;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    box-shadow: 0px 0px -20px 0px #000;
    transition: 500ms;
    align-items: center;
    border-radius:2%;
    background-color: rgb(236, 236, 236);
    height: auto;
    color: #0d0d0d;
    font-weight: 400;
    border-radius: 30px;
    transition: 2s;
}
.header .up-part-of-page > .nav > .ul > .li:hover {
    color: rgb(253, 253, 253);
    transition: 1ms;
    box-shadow: 0px 0px 10px 0px #1d2022;
    border-radius: 35px;
    background-color: #797676;
}
.header > .head-nav{
    float: left;
    max-height: max-content;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    box-shadow: 0px 0px 100px 0px #aaa9a9;
}
.header > .head-nav > .title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000;
    font-size: 20px;
}
.header .up-part-of-page > .head-nav > .h {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}
.header .head-nav-since {
    color: rgb(51, 13, 139);
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
.header .head-nav-creater {
    color: #000;
    font-family: fantasy;
}

#p-body {
    color: #001;
    font-family: 'Raleway', sans-serif;
    padding: 100px;
    font-size: 20px;
    font-style: italic;
    margin: 20px;
}


.footer {
    background-color: #d6d6d6;
    width: auto;
    padding: 20px;
    margin: 0px;
}
.footer > .div-footer{
    align-items: center;
    background-color: none;
}
.footer > .div-footer > .Text-footer {
    background-color: none;
    
}
.footer > .div-footer > .Text-footer > .div-text-button-footer > #p-footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:15px;
    font-style: italic;
    color: #010101;
}

.footer > .div-footer > .Text-footer > .div-text-button-footer > .button > .li{
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    width: auto;
    padding: 15px;
    display: inline-block;
}
.footer > .div-footer > .Text-footer > .div-text-button-footer > .button > .li:hover {
    background-color: white;
    transition: 2s;
}

.footer > .div-footer > .Text-footer > #h5 {
    color: #aaa9a9;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.footer > .div-footer > .Text-footer > .div-text-button-footer > #h6 {
    color: #0d0d0d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 10px;
}